.gitignore
README.md
topic-modelling-sentiment.ipynb
train_amazon_review_identification.ipynb
.git/
.venv/
.vscode/
__pycache__/
images/
logs/
results/
data/amazon_reviews.parquet
data/APPLE_iPhone_SE.csv
data/bigram_freq.xlsx
data/df_lemmatized.parquet
data/filtered_nouns.txt
data/model/
data/model_distilbert.pth
data/sentences_backup.txt
data/test.ft.txt
data/test.ft.txt.bz2
data/test.parquet
data/test.pkl
data/test_data.pt
data/test_label.pkl
data/train.ft.txt
data/train.ft.txt.bz2
data/train.parquet
data/train.pkl
data/train_data.pt
data/train_label.pkl
data/word_freq.xlsx