.venv/
.vscode/
data/model_distilbert.pth
data/test.ft.txt
data/train.ft.txt
data/test_data.pt
data/train_data.pt
data/test.pkl
data/test_label.pkl
data/train.pkl
data/train_label.pkl
data/test.parquet
data/train.parquet
data/train.ft.txt.bz2
data/test.ft.txt.bz2
data/review_classifier_tokenizer/
data/review_classifier/
data/model/
logs/
results/
__pycache__/